body {
  margin: 0;
  background: #F5F5F1; }

a {
  text-decoration: none;
  cursor: pointer; }

.container {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif; }
  .container header {
    width: 100em;
    height: 5.5em;
    list-style: none;
    margin: 0;
    border-bottom: 1.5px solid #CFCBC8;
    padding: 0 2em;
    background: #FFFFFF;
    box-sizing: border-box;
    position: absolute; }
    .container header div {
      margin-left: 1em;
      width: 75em;
      padding: 0em 2em;
      height: 5.5em;
      position: relative; }
      .container header div .logo {
        max-width: 80px;
        margin-right: 1em;
        padding: 1em 0;
        box-sizing: border-box;
        float: left; }
        .container header div .logo a {
          font-family: 'Alike', serif;
          font-size: 2.5em;
          color: #EF6330; }
      .container header div .search {
        width: 365px;
        padding: 1.45em 0.25em;
        box-sizing: border-box;
        float: left; }
        .container header div .search .bar {
          display: inline;
          margin: 0;
          border: 1.5px solid #AAAAAA;
          border-radius: 3px 0px 0px 3px;
          border-right: 0px;
          padding: 0.5em;
          width: 16em;
          background: #FBFBFA; }
        .container header div .search #search {
          margin: -5px;
          border: 1.5px solid #3C98B1;
          border-radius: 0px 3px 3px 0px;
          padding: 0.5em 1em;
          background: #0192B5;
          font-weight: 700;
          color: white; }
      .container header div .account {
        display: inline-block;
        margin: 0;
        padding: 1.45em 0.25em;
        box-sizing: border-box;
        float: right; }
        .container header div .account li {
          display: inline;
          list-style: none;
          margin: 0.3em;
          font-size: 0.9em; }
          .container header div .account li a {
            color: #3791B2; }
        .container header div .account .sign-in {
          border: 1px solid #3C98B1;
          border-radius: 3px;
          padding: 8px;
          background: transparent;
          color: #3791B2; }
        .container header div .account #cart {
          display: inline; }
          .container header div .account #cart button {
            margin-left: 0.7em;
            border: none;
            background: transparent;
            align: center; }
            .container header div .account #cart button img {
              width: 1.9em; }
            .container header div .account #cart button a {
              display: block;
              color: #666666;
              text-align: center;
              font-size: 0.85em; }
