//Measurements
$headerHeight: 5.5em;
//Colors
$segmentBackground: #FFFFFF;
$logoColor: #EF6330;
$mainBlue: #0192B5;
//Styling
$border: 1.5px solid #CFCBC8;

body {
  margin: 0;
  background: #F5F5F1;
}
&a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  
  header {
    width: 100em;
    height: $headerHeight;
    list-style: none;
    margin: 0;
    border-bottom: $border;
    padding: 0 2em;
    background: $segmentBackground;
    box-sizing: border-box;
    position: absolute;
    
    div {
      margin-left: 1em;
      width: 75em;
      padding: 0em 2em;
      height: $headerHeight;
      position: relative;


      .logo {
        max-width: 80px;
        margin-right: 1em; 
        padding: 1em 0;
        box-sizing: border-box;
        float: left;
        a {
          font-family: 'Alike', serif;
          font-size: 2.5em;
          color: $logoColor;
        }
      }


      .search {
        width: 365px;
        padding: 1.45em 0.25em;
        box-sizing: border-box;
        float: left;

        .bar {
          display: inline;
          margin: 0;
          border: 1.5px solid #AAAAAA;
          border-radius: 3px 0px 0px 3px;
          border-right: 0px;
          padding: 0.5em;
          width: 16em;
          background: #FBFBFA;
        }

        #search {
          margin: -5px;
          border: 1.5px solid #3C98B1;
          border-radius: 0px 3px 3px 0px;
          padding: 0.5em 1em;
          background: #0192B5;
          font-weight: 700;
          color: white;
        }
      }

      .account {
        display: inline-block;
        margin: 0;
        padding: 1.45em 0.25em;
        box-sizing: border-box;
        float: right;

        li {
          display: inline;
          list-style: none;
          margin: 0.3em;
          font-size: 0.9em;
          a {
            color: #3791B2;
          }
        } 

          .sign-in {
            border: 1px solid #3C98B1;
            border-radius: 3px;
            padding: 8px;
            background: transparent;
            color: #3791B2;
          }

          #cart {
            display: inline;

            button {
              margin-left: 0.7em;
              border: none;
              background: transparent;
              align: center;
              img {
                width: 1.9em;
              }
              a {
                display: block;
                color: #666666;
                text-align: center;
                font-size: 0.85em;
              }   
            }        
          }
        
      }
    }


  } 

}



